.portfolio-box .portfolio-box-caption {
    -webkit-transition: all .35s;
    -moz-transition: all .35s
}

.backgroundBox {
    background: url(assets/img/chicago4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.profileBox {
    background-color: #ffaf4e;
    width: 33%;
    margin-left: 33%;
    text-align: center;
    margin-top: 10%;
}

.img-rounded {
    border-radius: 70% 70% 70% 70%;
}

.transparent {
    opacity: 0.9;
}

h1 {
    padding-bottom: 1%;
}

img {
    padding-bottom: 2.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.red-social {
    color: #d01d1d;
}
